html{
  height: 100%;
  width: 100%;
  background-color: rgb(240, 240, 79);
  
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;

}

h1,h2{
  text-align: center;
  color: rgb(7, 7, 7);
  font: bold;
}

.generalText{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
}


#forza4table {
  background-color: rgb(51, 37, 175);
  text-align: center;

  margin-left: 5%;
  margin-right: 5%;

  margin-top: 1%;
  margin-bottom: 1%;

  padding: 10px;

  border-radius: 5%;
  border: 3px solid rgb(255, 255, 255);
}

.tbleRow{
  margin: 0.5%;
  padding: 0;
  border: 0;

  display: flex;

  text-align: center;
}

#forza4table P{
  flex: 1;
  aspect-ratio: 1;

  background-color: rgb(228, 68, 39);

  margin: 1%;
  padding: 0px;

  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;

}

#count{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

footer{
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(17, 194, 50);
  text-align: right;

  margin: 0;
  padding-top: 0.5%;
  border: 0;

  width: 100%;
  align-items: bottom;
  position:fixed;
  bottom:0;

}